[View in Colaboratory](https://colab.research.google.com/github/charleswongzx/computational-data-science-50.038/blob/master/1001456_lab3.ipynb)

## Imports

In [0]:
from sklearn.feature_extraction.text import CountVectorizer  
from sklearn. naive_bayes import MultinomialNB  
from sklearn. pipeline import Pipeline  
from sklearn.model_selection import train_test_split  
from sklearn.preprocessing import FunctionTransformer  
from sklearn import metrics  
from sklearn.metrics import accuracy_score  
import pandas as pd 
import numpy as np

## Import Data

In [0]:
colnames= ['label','id','date','query','user','text']
df_train = pd.read_csv("trainingandtestdata/training.1600000.processed.noemoticon.csv",header=None, names=colnames, encoding='windows-1252')
df_test = pd.read_csv("trainingandtestdata/testdata.manual.2009.06.14.csv",header=None, names=colnames, encoding='windows-1252')
df_train.shape

In [0]:
df_train.groupby(['label']).count()

           id    date   query    user    text
label
0      800000  800000  800000  800000  800000
4      800000  800000  800000  800000  800000

In [0]:
df_train.head()

,label,id,date,query,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [0]:
df_train['label'].value_counts()

4    800000
0    800000
Name: label, dtype: int64

## Train and Test Split

In [0]:
X_train, X_test, y_train, y_test = train_test_split(df_train.text, df_train.label, test_size=0.2, random_state=1)

## Train

In [0]:
tfVect= CountVectorizer(stop_words="english", ngram_range=(1, 3))
mnbClf = MultinomialNB()

clf_tf = Pipeline([('vect',tfVect),('clf',mnbClf)])
clf_tf.fit(X_train,y_train)
predicted = clf_tf.predict(X_test)

In [0]:
print( metrics.classification_report(y_test,predicted))

             precision    recall  f1-score   support

          0       0.74      0.69      0.71    160156
          4       0.71      0.76      0.73    159844

avg / total       0.72      0.72      0.72    320000

In [0]:
print (accuracy_score(y_test,predicted))

0.720821875